.overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #2626265c;
}
.mobile-menu {
  padding: 24px;
  background-color: #fff;
  width: 80%;
  position: relative;
}

.icon-menu {
  position: absolute;
  right: 15px;
  top: 0;
  width: 25px;
  height: 60px;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

@keyframes displayOverlay {
  0%{
      background-color: #26262600;
  }
  100%{
      background-color: #2626265c;
  }
}
@keyframes openNav {
  0%{
      background: #fff0;
      left: -60%;
  }
  100%{
      background: #ffff;
      left: 0%;
  }
}
@keyframes removeOverlay {
  0%{
      background-color: #2626265c;
  }
  100%{
      background-color: #26262600;
  }
}
@keyframes closeNav {
  0%{
      background: #ffff;
      left: 0%;
  }
  100%{
      background: #fff0;
      left: -60%;
  }
}
@media only screen and (max-width: 640px) {
  .overlay {
    display: flex;
  }

  .menu {
    display: flex;
  }
}